* {
    padding-top: 0;
    margin: 0;
    font-family: Roboto;
}

.upper-part {
    height: 40px;
    background-color: rgb(13, 110, 253);
    text-align: center;
    padding-top: 10px;

}


.mainhead {
    color: white;

    font-size: 28px;
}

.middle-part {
    background-color: rgb(242, 246, 255);
    text-align: center;
    padding: 30px 20px;
}

.middlehead {
    color: rgb(0, 40, 77);
    font-size: 32px;
    font-weight: 700;
}

.middle-part p {
    font-size: 18px;
    color: rgb(35, 35, 35);
    font-weight: 400;
    padding-top: 10px;
    padding-bottom: 18px;
}



.features {
    display: flex;
    margin-top: 40px;

    justify-content: center;

}

.cards {
    border: 1px solid rgb(245, 243, 243);
    height: 300px;
    width: 300px;
    border-radius: 10px;
    padding-left: 25px;
    padding-top: 25px;
    box-shadow: 10px 10px 5px lightblue;
    margin-right: 50px;

}
.card-head{
    color: rgb(61, 47, 127);
}
.card-para{
    padding-top: 20px;
}
.quizbutton {
    background-color: rgb(13, 110, 253);
    border: none;
    color: white;
    padding: 12px;
    font-size: 20px;
    border-radius: 10px;
   margin-left: 700px;
    margin-top: 80px;
}
.footer{
   display: flex;
   justify-content: center;
   margin-top: 40px;
   background-color: rgb(233, 236, 239);
   height: 50px;
   align-items: center;
}
a {
    text-decoration: none;
    color: white;
}



